<div class='jumbotron'>
  <div class='table-responsive'>
    <h1>Lista de Productos</h1>
    <br />
    <table class='table table-dark'>
      {{#if hayProductos}}
        <tr style='color: yellow;'>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Foto</th>
        </tr>
        {{#each allProductos}}
          <tr>
            <td>
              {{this.nombre}}
            </td>
            <td>
              {{this.precio}}
            </td>
            <td>
              <img src='{{this.imagen}}' width='60px' height='60px' alt='' />
            </td>
          </tr>
        {{/each}}
      {{else}}
        aqui no hay para ver...
      {{/if}}
    </table>
  </div>
</div>
<a href='cargaProductos'>ir a carga de productos</a>